@(addressForm: Form[models.Address],user: models.users.User)
@import helper._

@main("Add Address",user) {
    <p class="lead">Add a new address</p>
    @form(action=routes.HomeController.addAddressSubmit(), 'class-> "form-horizontal", 'role -> "form") {
        @CSRF.formField

        @inputText(addressForm("houseNum"), '_label -> "House/Appartment Number", 'class -> "form_control")
        @inputText(addressForm("street"), '_label -> "Street Name", 'class -> "form_control")
        @inputText(addressForm("town"), '_label -> "Town", 'class -> "form_control")
        @inputText(addressForm("province"), '_label -> "Province", 'class -> "form_control")
        @inputText(addressForm("postcode"), '_label -> "Postcode", 'class -> "form_control")

        @inputText(addressForm("id"), '_label -> "", 'hidden -> "hidden")

        <div class="actions">
            <input type="submit" value="Add/Update Address" class="btn btn-primary">
            <a href="@routes.HomeController.address">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
        }
}