@(department: List[models.Department], user: models.users.User)

@main("Department",user) {

<p class="lead">Departments</p>

@if(flash.containsKey("success")) {
  <div class="alert alert-success">
    @flash.get("success")
  </div>
}

<table class="table table-bordered table-hover table-condensed">

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="2"></th>      
    </tr>
  </thead>

  <tbody>
    @for(a<-department) {
      <tr>
        <td class="numeric">@a.getId</td>
        <td>@a.getName</td>
        
        <td>
          <a href="@routes.HomeController.updateDepartment(a.getId)" class="button-xs btn-danger">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>  
        <td>
          <a href="@routes.HomeController.deleteDepartment(a.getId)" class="button-xs btn-danger"  onclick="return confirmDel()">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    }
  </tbody>

</table>
<p>
  <a href="@routes.HomeController.addDepartment()">
    <button class="btn btn-primary">Add a Department</button>
  </a>
</p>

}