@(projects: List[models.Project], employees: List[models.Employee], user: models.users.User,env: play.api.Environment)

@main("Projects",user) {

<div class="row">
    <div class="col-sm-10">
        <table class="table table-bordered table-hover table-condensed">
          @if(flash.containsKey("success")) {
            <div class="alert alert-success">
              @flash.get("success")
            </div>
          }
          <thead>
            <tr>
              <th>ID</th>
              <th>Employee</th>
              <th>Name</th>
              <th>No. Of Members</th>
              <th colspan="2"></th>      
            </tr>
          </thead>
    
          <tbody>
            @for(p<-projects) {
              <tr>
                <td>@p.getEmployee</td>
                  @if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                    <td><img src="/assets/images/productImages/thumbnails/@(p.getId + ".jpg")"/></td>
                } else {
                    <td><img src="/assets/images/productImages/thumbnails/noImage.jpg"/></td>
                }
                <td class="numeric">@p.getId</td>
                <td><a href="@routes.HomeController.projectDetails(p.getId)">
                    @p.getName</td>
                   </a>
                <td>@p.getEmployee</td>
                <td>
                  <a href="@routes.HomeController.updateProject(p.getId)" class="button xs btn-danger">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>        <td>
                  <a href="@routes.HomeController.deleteProject(p.getId)" class="button xs btn-danger" onclick="return confirmDel();">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
            }
          </tbody>
    
        </table>
    
        <p>
          <a href="@routes.HomeController.addProject()">
            <button class="btn btn-primary">Add a project</button>
          </a>
        </p>
      </div>
    </div>

}
