@(p: models.Project,user: models.users.User,env: play.api.Environment)

@main("Full Image", user) {

  <div class="col-sm-10">
    <table class="table table-bordered table-hover table-condensed">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }
      <thead>
        <tr>
          <th>ID</th> 
          <th>Name</th>
          <th>Employee</th>
          <th colspan="2"></th>  
        </tr>
      </thead>

      <tbody>
            <tr>
                <td class="numeric">@p.getId</td>
                <td><a href="@routes.HomeController.projectDetails(p.getId)">
                    @p.getName</td>
                    </a>
                <td>@p.getEmployee</td>
                <td>
                    <a href="@routes.HomeController.updateProject(p.getId)" class="button xs btn-danger">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>      
                <td>
                    <a href="@routes.HomeController.deleteProject(p.getId)" class="button xs btn-danger" onclick="return confirmDel();">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        
      </tbody>

    </table>

    
  </div>
</div>
}
