@(id: Long, updateProjectForm: Form[models.Project], user: models.users.User)
@import helper._
@main("Update project", user){
<p class="lead"> Update Project</p>

@form(action=routes.HomeController.updateProjectSubmit(id), 'class -> "form-horizontal", 
'role -> "form",'enctype -> "multipart/form-data") {
    @* CSRF attack prevention *@
    @CSRF.formField
    @inputText(updateProjectForm("name"), '_label -> "Name", 'class -> "form-control")    
    
    <label>Image </label>
    <input class = "btn-sm btn-default" type="file" name="upload">
    <br><br>

    <div class="actions">
        <input type="submit" value="Update Project" class="btn btn-primary">
        <a href="@routes.HomeController.index(0)">
            <button type="button" class="btn btn-warning">Cancel</button>
        </a>
    </div>
 }
}